@import "common";

@import "header";
@import "hero";
@import "special-price";
@import "high-rating";
@import "oxford";
@import "top-category";
@import "useful";
@import "contacts";
@import "footer";

// Пока не используется
// @import "media1024";
// @import "media768";
// @import "media320";



.partnership {

  padding-top: 20px;


  &__title {
    margin-bottom: 31px;  
  }

  .subtitle {
    margin-bottom: 12px;

    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    color: var(--black-color);
  }

  &__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 29px;


    color: #666666;
  }

  &__content {
    max-width: 842px;
  }

  &__links {
    margin-top: 0;
    margin-bottom: 31px;
    margin-left: -4px;
  }

  &__suppliers {
    margin-bottom: 33px;
  }

  &__get {
    margin-bottom: 33px;

    .get-list {
      max-width: 624px;

      .get-list-item {
        // display: flex;
        padding-left: 37px;
      }

      .get-list-item:nth-child(1),
      .get-list-item:nth-child(2),
      .get-list-item:nth-child(3) {
        background-repeat: no-repeat;
        background-position: 0% 0%;
        background-size: 25px 25px;
      }
    
      .get-list-item:nth-child(1) {background-image: url(../img/network.png);}
      .get-list-item:nth-child(2) {background-image: url(../img/briefcase.png );}
      .get-list-item:nth-child(3) {background-image: url(../img/git-pull-request.png);}


      .get-list-item:not(:last-child) {
        margin-bottom: 11px;
      }

      .get-text {
        // margin-left: 12px;
        // margin-bottom: 0;
        // margin-top: -2px;
        line-height: 24px;
      }
    }
  }

  &__benefits {
    margin-bottom: 32px;

    .partnership__text {
      margin-bottom: 12px;
    }
  }
  
  &__span {
    display: inline-block;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: var(--orange-color);
    margin-bottom: 12px;
  }

  &__guarantees {
    margin-bottom: 72px;

    .guarantees-list {
      margin-left: 18px;
      margin-bottom: 31px;

      .guarantees-list-item {
        padding-left: 8px;

        font-weight: 600;
        font-size: 16px;
        line-height: 180%;
        color: var(--orange-color);
      }

      .guarantees-list-item:not(:last-child) {
        margin-bottom: 13px;
      }
    }

    .partnership__term {
      display: flex;
      align-items: center;

      .partnership__text {
        font-weight: 400;
        font-size: 24px;
        line-height: 150%;
        color: var(--black-color);
        width: 60%;
        margin-bottom: 0;
        margin-left: 32px;
    }
    }
  }

  .git-pull-request,
  .briefcase,
  .network {
    width: 25px;
    height: 25px;

  } 
}

.catalog {

  padding-top: 20px;


  &__links {
    margin-bottom: 20px
  }
}

// табы





.tabs-nav__btn--active {
  color: blue !important;
}

.tabs-item {
  display: none;
}

.tabs-item--active {
  display: block;
}

// табы



@import url("normalize.css");
@import url("hover-min.css");